<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" preserve-order= "true">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="gpmsUI.gpmsAutomation.basicDetails">
      	<methods>
      		<include name="homePage"/>					<!-- This will open Login page foe given client and checks for given GPMS version -->
      		<include name="loginTST3"/>					<!--This will Login TST3 GPMS and verify of the login is successful for given -->	
      	</methods>
      </class>
      
      <class name="gpmsUI.gpmsAutomation.addingNewDetails">
      	<methods>
      		<exclude name="addEmployee"/>				<!-- This will add New Employee based on the details given in testInputGPMS file-->
      		<exclude name="addNewCompany"/>
      		<exclude name="addNewOrgUnit"/>				<!-- This is to create New Org Unit and add org unit details like name and references -->
      		<exclude name="addNewElementType"/>
      		<include name="addPayroll"/>				<!-- This will add New Payroll based on the details given in testInputGPMS file-->
      		<include name="editPayrollPeriods"/>
      		<include name="createPayrollAssignment"/>	<!-- This is to create Payroll Assignment for existing employee -->	
      		<exclude name="addPayDeds"/>
      		<include name="addPaymentsRandom"/>
      		<include name="addDeductionsRandom"/>
      		<include name="addUnitPayRandom"/>
      		<include name="addEntitlementsTempRandom"/>
      		<include name="addEntitlementsPermRandom"/>
      		<include name="addEntitlementsUnitPayRandom"/>
      	</methods>
      </class> 
    
    <class name="gpmsUI.gpmsAutomation.functionValidations">
      	<methods>
      		<include name="lockEmployeeLevel"/>					
      		<include name="resetEmployeeLevel"/>
      		<include name="unconfirmEmployeeLevel"/>						
      	</methods>
      </class>
    
    <class name="gpmsUI.gpmsAutomation.downloadReports">
      	<methods>
      		<include name="downloadEmployeeDataUploadTemplate"/>											
      	</methods>
      </class>
    
    
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
