<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
  
  
  
  <test thread-count="5" name="Test">
    <classes>
      
    <class name="gpmsUI.gpmsAutomation.basicDetails">
      	<methods>
      		<include name="homePage"/>					<!-- This will open Login page foe given client and checks for given GPMS version -->
      		<include name="loginTST3"/>					<!--This will Login TST3 GPMS and verify of the login is successful for given -->	
      	</methods>
      </class>
      
    <class name="gpmsUI.gpmsAutomation.addingNewDetails">
      	<methods>
      		<exclude name="addEmployee"/>				<!-- This will add New Employee based on the details given in testInputGPMS file-->
      		<exclude name="addNewCompany"/>
      		<exclude name="addNewOrgUnit"/>				<!-- This is to create New Org Unit and add org unit details like name and references -->
      		<exclude name="addNewElementType"/>
      		<exclude name="addPayroll"/>				<!-- This will add New Payroll based on the details given in testInputGPMS file-->
      		<exclude name="editPayrollPeriods"/>
      		<exclude name="createPayrollAssignment"/>	<!-- This is to create Payroll Assignment for existing employee -->	
      	</methods>
      </class> 
    
    <class name="gpmsUI.gpmsAutomation.addingPayDedsEntitlementsRandom">
      	<methods>
      		<exclude name="addPaymentsRandom"/>
      		<exclude name="addDeductionsRandom"/>
      		<exclude name="addUnitPayRandom"/>
      		<exclude name="addEntitlementsTempRandom"/>
      		<exclude name="addEntitlementsPermRandom"/>
      		<exclude name="addEntitlementsUnitPayRandom"/>
      	</methods>
      </class> 
    
    <class name="gpmsUI.gpmsAutomation.functionValidations">
      	<methods>
      		<exclude name="lockEmployeeLevel"/>					
      		<exclude name="resetEmployeeLevel"/>
      		<exclude name="unconfirmEmployeeLevel"/>
      		<exclude name="allPeriodProcessingsFromPayrollLevel"/>
      							
      		<exclude name="processPeriodPayrollLevel"/>
      		<exclude name="confirmPeriodPayrollLevel"/>
      		<exclude name="unconfirmPeriodPayrollLevel"/>					
      		<exclude name="resetPeriodPayrollLevel"/>
      		<exclude name="viewEmployeeFromPayrollLevel"/>						
      	
      	</methods>
      </class>
     
    <class name="gpmsUI.gpmsAutomation.addingPayDedsEntitlementsUserDefined">
      	<methods>
      		<exclude name="addPayDeds"/>											
      	</methods>
      </class>
    
    <class name="gpmsUI.gpmsAutomation.downloadReports">
      	<methods>
      		<exclude name="downloadEmployeeDataUploadTemplate"/>											
      	</methods>
      </class>
    
    
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
